.cat-info {
  display: flex;
}
.cat-box {
  width: 500px;
}
.img {
  margin-right: 20px;
}
.title {
  color: rosybrown;
  -webkit-text-stroke: 1px black;
}
.hidden {
  display: none;
}

.loader {
  font-size: 25px;
  color: black;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:after {
  content: '';
  height: 4px;
  width: 0%;
  display: block;
  background: #ff3d00;
  animation: 5s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    width: 100%;
  }
}
