.breed-select {
  width: 200px;
  height: 30px;
  text-align: center;
  border: 2px solid black;
  font-size: 16px;
  margin-bottom: 30px;
  background-color: rosybrown;
}

.cat-info {
  width: 500px;
}

.hidden {
  display: none;
}

.loader {
  font-size: 25px;
  color: black;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:after {
  content: '';
  height: 4px;
  width: 0%;
  display: block;
  background: #ff3d00;
  animation: 5s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    width: 100%;
  }
}
